# Environment variables
.env
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build artifacts
build/
dist/
*.egg-info/

# Cache and Output directories
cache/
output/

# Other common ignores
.vscode/
.idea/
*.DS_Store 